<div class="row">
  <div class="col-md-3 left-side">
    <ul >
      <div class="avatar">
        <ul *ngFor="let c of data.data.categories; let i = index;">
          <li><i class="glyphicon glyphicon-user"></i><a>{{c.name}}</a></li>
        </ul>
      </div>
    </ul>

  </div>
  <div class="col-md-9">
    <ul class="mail-list">
      <li *ngFor="let m of data.data.categories;let i = index;">
        <div class="avatar">
          <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="mail">
          <h3>Michale Suyama</h3>
          <p>{{m.childs[i].title}}: {{m.childs[i].content}}</p>
          <p>{{m.childs[i].date}}:{{m.childs[i].content}}</p>
          <p>{{m.childs[i].address}}</p>
          <p>City: Hà Nội</p>
          <p>Phone: 023012301</p>
        </div>
      </li>
    </ul>
  </div>
</div>
