<button type="button" (click)="hanoi()">Hà Nội</button>
<button type="button" (click)="london()">London</button>
<div *ngIf="data">
  <h2>Thành phố {{data.name}}, {{data.sys.country}}</h2>
  <h3>Nhiệt độ: {{data.main.temp}}<sup>o</sup>C</h3>
  <h3>Độ ẩm: {{data.main.humidity}}%</h3>
  <h3>Tốc độ gió: {{data.wind.speed}}km/h</h3>
  <p>{{data.weather[0].description}}</p>
  <img style="transform: translate(150px,-200px)"
       src="http://openweathermap.org/img/wn/{{data.weather[0].icon}}@2x.png"/>
</div>
