<div class="row">
  <div class="col-md-3 left-side">
    <ul *ngFor="let c of categories">
      <li class="first">
        <i class="glyphicon glyphicon-chevron-down"></i>{{c.name}}
      </li>
      <li *ngFor="let ch of c.childs; let i = index;"><a (click)="changeMails(c.name,ch.name)">{{ch.name}}</a></li>
    </ul>

  </div>
  <div class="col-md-9">
    <ul class="mail-list">
      <li *ngFor="let m of mails;let i = index;">
        <div class="avatar">
          <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="mail">
          <h3>{{mails[i].userName}}</h3>
          <p>{{m.subject}}</p>
          <p>{{m.shortContent}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
© 2022 GitHub, Inc.
Terms
Privacy
